/.idea/
/.git/
/.vscode
/.env.*
!/.env.local
/docker/service/*
/var/*
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*.log
/vendor
/.phpunit.result.cache
auth.json
composer.lock